.bf-beer-page {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  flex-wrap: wrap;
}

.bf-beer-portrait {
  margin: 0 50px 0 20px;

}

.bf-beer-info {
  flex-basis: 50vw;
}

.bf-beer-page .bf-beer-title {
  text-shadow: 0 0 10px #f15025;
  font-size: 1.8rem;
  font-variant-caps: small-caps;
  text-align: center;
}
.bf-beer-synopsis {
  text-align: justify;
  max-width: 1200px;
}
.bf-beer-detail ul {
  list-style: none;
  padding: 0;
}
.bf-beer-detail ul > li {
  padding-bottom: 5px;
}


.bf-beer-image {
  height: 500px;
  filter: drop-shadow(0px 0px 6px white);
}

.bf-comments{
  width: 100%;
  border: 1px solid rgba(255, 255, 255,.5);
  padding: 10px;
  border-radius: 6px;
}
.bf-comments h2{
  margin-top: 0;

}
.bf-comment-input {
  padding: 10px;
  border-width: 0;
  border-radius: 8px;
  font-size: 1rem;
  resize: none;
  width: 100%;
}
textarea::placeholder {
  font-style: italic;
  font-size: 90%;
}
.bf-comment-button {
  padding: 6px;
  border-width: 0;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  max-width: 120px;
  background-color: #edae49;
  color: white;
  display: block;
}

.bf-comment-item{
  background-color: rgba(255, 255, 255,.2);
  margin: 10px 0px;
  padding: 5px;
  border-radius: 6px;
}
.bf-comment-date{
  float: right;
  font-size: 80%;
  font-style: italic;
}
.bf-comment-date{
  float: right;
  font-size: 80%;
  font-style: italic;
}
.bf-comment-text{
  margin: 10px;
}
.bf-like h2{
  margin-top: -10px;
  margin-bottom: 10px;
}
.bf-like-icon{
  height: 40px;
  width: 40px;
  position: relative;
  top: 10px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .bf-beer-portrait {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .bf-beer-image {
    height: 300px;
  }
  .bf-beer-page {
    display: block;
  }
  .bf-comment-input {
    max-width: unset;
  }
}
