
.bf-main {
  margin: 86px 20px 20px 20px;
}

.bf-beer-grid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;

}
.bf-beer-card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.bf-beer-card img {
  height: 300px;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 6px white) 

}
.bf-beer-card-info h3 {
  text-align: center;
  margin-bottom: 0;
}

.bf-beer-card:hover img{

  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;

  transform: scale(1.07);

}