.bf-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(129, 43, 19);
}

.bf-navbar-icon {
  position: relative;
  float: left;
  top: 10px;
  right: 2px;
  height: 40px;
  width: 40px;
}

.bf-navbar-logo {
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 10px #edae49;
  text-align: center;
  margin: 10px 0px 10px 25px;
}

.bf-navbar-search {
  padding-right: 10px;
}
.bf-navbar-search input {
  padding: 10px;
}
.bf-navbar-search input,
.bf-navbar-month input {
  padding: 7px;
  border-width: 0;
  border-radius: 8px;
  font-size: 1rem;
  margin: 10px 0px;
  width: 180px;
}
.bf-navbar-search input {
  padding: 10px;
}

.bf-navbar-search input::-webkit-input-placeholder {
  font-style: italic;
}

.bf-navbar-search input::-moz-placeholder {
  font-style: italic;
}

.bf-navbar-search input:-ms-input-placeholder {
  font-style: italic;
}

.bf-navbar-search input::-ms-input-placeholder {
  font-style: italic;
}

.bf-navbar-search input::placeholder {
  font-style: italic;
}
