.bf-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(129, 43, 19);
}

.bf-navbar-icon {
  margin: 8px;
  height: 38px;
  width: 38px;
  display: inline-block;
  filter: invert(1);
}
.bf-navbar-icon.active {
 filter: drop-shadow(0px 0px 6px white) invert(0);
}
.bf-navbar-logo {
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 10px #edae49;
  text-align: center;
  margin: 10px 0px 10px 25px;
}

.bf-navbar-inputs{
  width: 300px;
}
.bf-input-month,
.bf-input-search {
  border-width: 0;
  border-radius: 8px;
  font-size: 1rem;
  margin: 10px 0px;
  width: 100%;
}

.bf-input-search {
  padding: 10px;
}
.bf-input-month {
  padding: 7px;
  display: none;
}

.bf-navbar-buttons{
  display: flex;
  width: 210px;
}

.bf-sigin {
  border-width: 0;
  border-radius: 8px;
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  background-color: #edae49;
  color: white;
  margin: 10px;
  height: 38px;
  cursor: pointer;
}

.bf-navbar-search input::-webkit-input-placeholder {
  font-style: italic;
}

.bf-navbar-search input::-moz-placeholder {
  font-style: italic;
}

.bf-navbar-search input:-ms-input-placeholder {
  font-style: italic;
}

.bf-navbar-search input::-ms-input-placeholder {
  font-style: italic;
}

.bf-navbar-search input::placeholder {
  font-style: italic;
}
