@import "normalize.css";
@import "navbar.css";
@import "grid.css";
@import "beer.css";
@import "responsiveness.css";
@import "header.css";
@import "sigin.css";


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: unset;
}

html {
  height: 100%;
}
*:focus {
  outline: none;
}
input:focus {
  -webkit-box-shadow: inset 0 0 4px 2px #edae49;
  box-shadow: inset 0 0 4px 2px #edae49;
}
input.invalid{
  box-shadow: inset 0 0 0px 4px #f15025;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f15025;
  /*FALTA CONVERTIR*/
  background-image: linear-gradient(1turn, #f15025, #ffa630);
  background-repeat: no-repeat;
  background-position-y: 150px;
}

body.blocked {
  opacity: 0.1;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  overflow: hidden;
}
body.blocked main,
body.blocked nav
 {
  pointer-events: none;
}
